table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

tr {
    padding-left: 40px;
    ;
}

.pageHeader {
    display: flex;
    height: 40px;
}

.a {
    margin-left: auto;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 12px;
    border: none;
    background-color: #7c8855;
}

.b {
    font-size: 18px;
    color: antiquewhite;
    background-color: #82A70C;
    border: none;
    margin-left: 4px;
    padding: 9px 32px;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
}

th {
    height: 60px;
    font-size: 18px;
    border: none;
    color: antiquewhite;
    background-color: #42515F;
}

.container {
    width: 90%;
    padding: 44px 70px;
}

.img{
    margin-left: 4px;
    margin-top: 4px;
}

.search-form {
	right: 200px;
	top: 200px;
}

 .search-field {
	background-color: transparent;
	background-image: url(../../assets/images/search.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	margin-left: auto;
	padding: 0 0 0 34px;
	transition: width 400ms ease, background 400ms ease;
	width:0px;
    
}

.search-field:focus {
	background-color: rgb(241, 235, 235);
	border: 1px solid #c5c5bc;
    background-image: none;
	cursor: text;
	outline: 0;
	width: 250px;
  color:rgb(12, 3, 3);
}

.search-form
.search-submit { 
display:none;
}
